///////////////////// LOGO /////////////////////
.logo {
    height: 3rem;
    margin-left: 1.5rem;
}

///////////////////// SEARCH /////////////////////
.search {
    flex: 0 0 40%;

    display: flex;
    align-items: center;
    justify-content: center;

    &__input {
        font-family: inherit;
        font-size: inherit;
        color: inherit;
        background-color: var(--color-grey-light-2);
        border: none;
        border-radius: 100px;
        width: 90%;
        padding: 0.5rem 1.5rem;
        margin-right: -2.5rem;
        transition: all .2s;

        &:focus {
            outline: none;
            width: 100%;
            background-color: var(--color-grey-light-3);
        }

        &::-webkit-input-placeholder {
            font-weight: 100;
        }

    }

    &__input:focus + &__button {
        background-color: var(--color-grey-light-3);
    }

    &__button {
        border: none;
        background-color: var(--color-grey-light-2);

        &:focus {
            outline: none;
        }

        &:active {
            transform: translateY(2px);
        }

    }

    &__icon {
        height: 1.5rem;
        width: 1.5rem;
        fill: var(--color-grey-dark-3);
    }

}

///////////////////// USER NAV /////////////////////
.user-nav {
    align-self: stretch;

    display: flex;
    align-items: center;

    & > * {
        padding: 0 2rem;
        cursor: pointer;
        height: 100%;
        display: flex;
        align-items: center;
    }

    & > *:hover {
        background-color: var(--color-grey-light-2);
    }

    &__icon-box {
        position: relative;
    }

    &__icon {
        width: 2.5rem;
        height: 2.5rem;
        fill: var(--color-grey-dark-2);
    }

    &__notification {
        height: 1.8rem;
        width: 1.8rem;
        position: absolute;
        top: 0.7rem;
        right: 1.3rem;
        background-color: var(--color-primary);
        color: var(--white);
        font-size: 0.8rem;
        border-radius: 50%;

        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__user-photo {
        width: 3rem;
        height: 3rem;
        border-radius: 50%;
        margin-right: 1rem;
    }

    &__user-name {
    }

}

///////////////////// SIDE NAV /////////////////////
.side-nav {
    list-style: none;
    font-size: 1.2rem;
    margin-top: 2rem;

    &__item {
        position: relative;

        &:not(:first-child) {
            margin-top: 0.5rem;
        }

        &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 3px;
            background-color: var(--color-primary);
            transform: scaleY(0);
            transition: transform 0.2s,
                        width 0.4s cubic-bezier(1, 0, 0, 1) 0.2s,
                        background-color 0.1s;

        }

        &:hover::before,
        &--active::before {
            transform: scaleY(1);
            width: 100%;
        }

        &:active::before {
            background-color: var(--color-primary-light);
        }

    }

    &__link:link,
    &__link:visited {
        color: var(--color-grey-light-1);
        text-decoration: none;
        text-transform: uppercase;
        padding: 1.5rem 2.5rem;
        position: relative; // so that the z-index works
        z-index: 10;
        display: flex;
        align-items: center;
    }

    &__icon {
        height: 2rem;
        width: 2rem;
        fill: currentColor;
        margin-right: 1.5rem;
    }

}


///////////////////// LEGAL /////////////////////
.legal {
    font-size: 1.2rem;
    color: var(--color-grey-light-4);
    text-align: center;
    padding: 2rem;


    span {
        font-style: italic;
    }

}


///////////////////// GALLERY /////////////////////
.gallery {
    display: flex;

    &__item {

    }

    &__photo {
        width: 100%;
        display: block; // Otherwise there is some whitespace under the picture(s)
    }

}


///////////////////// OVERVIEW /////////////////////
.overview {
    display: flex;
    align-items: center;
    border-bottom: var(--line);

    &__heading {
        text-transform: uppercase;
        font-size: 2.5rem;
        font-weight: 300;
        letter-spacing: 1px;
        padding: 1rem 2.5rem;
    }

    &__stars {
        display: flex;
        margin-right:auto;
    }

    &__icon-star,
    &__icon-location-pin {
        width: 1.5rem;
        height: 1.5rem;
        fill: var(--color-primary);
    }

    &__location {
        display: flex;
        // vertical-align: center;
        // font-size: 1.2rem;
    }

    &__icon-location-pin {
        margin-right: 0.5rem;
    }

    &__rating {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: var(--color-primary);
        color: var(--white);
        padding: 0 1.5rem;
        margin-left: 2.5rem;
        align-self: stretch;
    }

    &__rating-average {
        font-size: 2rem;
        font-weight: 300;
        margin-bottom: -3px;
    }

    &__rating-count {
        font-size: 0.9rem;
        text-transform: uppercase;
    }

}


///////////////////// BUTTON INLINE /////////////////////
.btn-inline {
    border: none;
    background-color: transparent;
    color: var(--color-primary);
    border-bottom: 1px solid currentColor;
    padding-bottom: 2px;
    display: inline-block;
    cursor: pointer;
    transition: all 0.2s;

    & span {
        margin-left: 3px;
        transition: margin-left 0.2s;
    }

    &:hover {
        color: var(--color-grey-dark-1);

        span {
            margin-left: 8px;
        }
    }

    &:focus {
        outline: none;
        animation: pulsate 1s infinite;
    }

}
