.container {
    max-width: 120rem;
    min-height: 20rem;
    margin: 8rem auto;
    background-color: var(--color-grey-light-1);
    box-shadow: var(--shadow-dark);
}

.header {
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--white);
    border-bottom: var(--line);
}

.content {
    display: flex;
    justify-content: space-between;
}

.sidebar {
    flex: 0 0 20%;
    background-color: var(--color-grey-dark-1);
}

.hotel-view {
    flex: 1;
    background-color: var(--white);
}

.detail {
    font-size: 1.4rem;
    display: flex;
    padding: 4rem;
    background-color: var(--color-grey-light-1);
    border-bottom: var(--line);
}

.description {
    background-color: var(--white);
    box-shadow: var(--shadow-light);
    padding: 3rem;
    flex: 0 0 60%;
    margin-right: 4rem;
}

.user-reviews {
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: center;
}